// Imports:
// Bourbon: a lightweight Sass tool set (https://www.bourbon.io/)...
// ...and Global Styles
@import "bourbon/bourbon";
@import "globals/globals";

// Custom Wrapper (Optional Class: inject it and have a custom wrapper)
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

// Put your custom variables and mixins here...
// Dark Theme
$bg: #121212;
$bg-2: #272727;
$bg-3: #1C1C1C;
$text-prime: #f9f9f9;
$text: #E2E2E2;
$text-secondary: #909090;
$border: #383838;
$accent: #00b0ff;
